[Unit]
Description=odoo
After=network.target

[Service]
User=odoo
Group=odoo
ExecStart=/var/lib/odoo/odoo-bin -c /etc/odoo/odoo.conf

[Install]
WantedBy=multi-user.target

